<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Omnicalc-1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
<body>
<h1>
  Square Root Results
</h1>
<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @num %>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    <%= @square_root %>
  </dd>
</dl>
<a href="/square_root/new">
  Calculate another square root
</a>
</body>
